*.go
*.gz
*.la
*.lo
*.log
*.o
*.trs
*~
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/*
config.log
config.status
configure
libtool
m4/
missing
pre-inst-env

!build-aux/test-driver.scm
